In [1]:
import pandas as pd

In [2]:
import requests

In [54]:
import numpy as np

In [3]:
a2021= pd.read_csv('dadosPNCP_20210101_20211231.csv', delimiter= ',')

In [4]:
a2021

,numeroControlePncpCompra,codigoPaisFornecedor,dataPublicacaoPncp,dataAtualizacao,anoContrato,tipoContrato,numeroContratoEmpenho,dataAssinatura,dataVigenciaInicio,dataVigenciaFim,...,objetoContrato,valorInicial,numeroParcelas,valorParcela,valorGlobal,valorAcumulado,numeroRetificacao,identificadorCipi,urlCipi,usuarioNome
0,00394452000103-1-000010/2021,BRA,2021-09-08T11:38:58,2021-09-10T14:13:48,2021,"{'id': 7, 'nome': 'Empenho'}",2021NE000356,2021-08-17,2021-08-17,2021-12-31,...,"AQS DE TONERS P/ IMPRESSORAS DO PMED DA OM, CO...",868.74,1,8.687400e+02,868.74,868.74,1,NaN,NaN,Compras.gov.br
1,00394452000103-1-000030/2021,BRA,2021-09-10T15:23:47,2021-09-10T15:23:47,2021,"{'id': 7, 'nome': 'Empenho'}",2021NE400175,2021-08-19,2021-08-19,2021-12-31,...,"AQS MAT CNST - ND 339030-24 - 2021NC002231, F ...",6555.00,1,6.555000e+03,6555.00,6555.00,0,NaN,NaN,Compras.gov.br
2,33663683000116-1-000003/2021,BRA,2021-09-06T18:07:53,2021-09-10T14:17:32,2021,"{'id': 7, 'nome': 'Empenho'}",2021NE000021,2021-08-19,2021-08-19,2021-12-31,...,AQUISIÇÃO DE 10 CADEADOS 40MM PARA O FÓRUM DE ...,198.99,1,1.989900e+02,198.99,198.99,1,NaN,NaN,Compras.gov.br
3,17217985000104-1-000003/2021,BRA,2021-09-06T18:30:56,2022-01-12T09:12:41,2021,"{'id': 7, 'nome': 'Empenho'}",2021NE000022,2021-08-20,2021-08-20,2021-12-31,...,ATENDER NECESSIDADES DA ESCOLA DE ENFERMAGEM U...,385.00,1,3.850000e+02,385.00,385.00,1,NaN,NaN,Compras.gov.br
4,00394452000103-1-000012/2021,BRA,2021-09-06T18:20:46,2021-09-10T14:21:42,2021,"{'id': 7, 'nome': 'Empenho'}",2021NE000322,2021-08-20,2021-08-20,2021-12-31,...,AQUISIÇÃO DE MATERIAL DE COPA E COZINHA // 202...,2442.00,1,2.442000e+03,2442.00,2442.00,1,NaN,NaN,Compras.gov.br
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5303,00394452000103-1-000742/2021,BRA,2021-10-05T10:38:35,2023-03-28T12:21:51,2021,"{'id': 1, 'nome': 'Contrato (termo inicial)'}",00098,2021-09-29,2021-10-04,2022-10-03,...,ESTE CONTRATO TEM POR OBJETO A CONTRATAÇÃO DE ...,4588.00,12,3.823333e+02,4588.00,NaN,2,NaN,NaN,Compras.gov.br
5304,00394494000136-1-000084/2021,BRA,2021-12-28T16:42:07,2023-03-24T15:12:09,2021,"{'id': 1, 'nome': 'Contrato (termo inicial)'}",00034,2021-12-24,2021-12-29,2022-12-29,...,FORNECIMENTO DE 15 CARGAS DE GÁS GLP - 13 KG E...,5999.85,1,5.999850e+03,5999.85,NaN,1,NaN,NaN,Compras.gov.br
5305,37115383000153-1-000014/2021,BRA,2021-12-30T17:28:44,2023-07-17T14:15:59,2021,"{'id': 1, 'nome': 'Contrato (termo inicial)'}",00030,2021-12-28,2021-12-28,2022-03-28,...,O objeto do presente Instrumento é a contrataç...,6284.21,1,6.284210e+03,6284.21,NaN,0,NaN,NaN,Compras.gov.br
5306,00394460000141-1-000186/2021,BRA,2021-12-28T16:55:39,2023-10-11T10:14:50,2021,"{'id': 1, 'nome': 'Contrato (termo inicial)'}",00023,2021-12-27,2021-12-27,2022-05-14,...,CONTRATAÇÃO DE EMPRESA ESPECIALIZADA PARA EXEC...,41500.00,1,4.150000e+04,41500.00,NaN,1,NaN,NaN,Compras.gov.br
5307,33781055000135-1-000033/2021,BRA,2021-12-28T16:42:08,2023-10-19T09:11:01,2021,"{'id': 1, 'nome': 'Contrato (termo inicial)'}",00010,2021-12-10,2021-12-10,2023-12-10,...,O PRESENTE CONTRATO TEM POR OBJETO A EXECUÇÃO ...,2300000.00,1,2.300000e+06,2300000.00,NaN,0,NaN,NaN,Compras.gov.br

In [5]:
a2021.columns

Index(['numeroControlePncpCompra', 'codigoPaisFornecedor',
       'dataPublicacaoPncp', 'dataAtualizacao', 'anoContrato', 'tipoContrato',
       'numeroContratoEmpenho', 'dataAssinatura', 'dataVigenciaInicio',
       'dataVigenciaFim', 'niFornecedor', 'tipoPessoa', 'orgaoEntidade',
       'categoriaProcesso', 'sequencialContrato', 'unidadeOrgao',
       'nomeRazaoSocialFornecedor', 'niFornecedorSubContratado',
       'nomeFornecedorSubContratado', 'informacaoComplementar', 'processo',
       'unidadeSubRogada', 'orgaoSubRogado', 'numeroControlePNCP', 'receita',
       'tipoPessoaSubContratada', 'objetoContrato', 'valorInicial',
       'numeroParcelas', 'valorParcela', 'valorGlobal', 'valorAcumulado',
       'numeroRetificacao', 'identificadorCipi', 'urlCipi', 'usuarioNome'],
      dtype='object')

In [6]:
a2021.shape

(5308, 36)

In [7]:
a2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5308 entries, 0 to 5307
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   numeroControlePncpCompra     5308 non-null   object
 1   codigoPaisFornecedor         5286 non-null   object
 2   dataPublicacaoPncp           5308 non-null   object
 3   dataAtualizacao              5308 non-null   object
 4   anoContrato                  5308 non-null   int64
 5   tipoContrato                 5308 non-null   object
 6   numeroContratoEmpenho        5308 non-null   object
 7   dataAssinatura               5308 non-null   object
 8   dataVigenciaInicio           5308 non-null   object
 9   dataVigenciaFim              5308 non-null   object
 10  niFornecedor                 5308 non-null   object
 11  tipoPessoa                   5308 non-null   object
 12  orgaoEntidade                5308 non-null   object
 13  categoriaProcesso            5308 non-null   object
 14  sequencialContrato           5308 non-null   int64
 15  unidadeOrgao                 5308 non-null   object
 16  nomeRazaoSocialFornecedor    5308 non-null   object
 17  niFornecedorSubContratado    0 non-null      float64
 18  nomeFornecedorSubContratado  0 non-null      float64
 19  informacaoComplementar       5237 non-null   object
 20  processo                     5308 non-null   object
 21  unidadeSubRogada             0 non-null      float64
 22  orgaoSubRogado               27 non-null     object
 23  numeroControlePNCP           5308 non-null   object
 24  receita                      5308 non-null   bool
 25  tipoPessoaSubContratada      0 non-null      float64
 26  objetoContrato               5308 non-null   object
 27  valorInicial                 5308 non-null   float64
 28  numeroParcelas               5308 non-null   int64
 29  valorParcela                 5308 non-null   float64
 30  valorGlobal                  5308 non-null   float64
 31  valorAcumulado               5235 non-null   float64
 32  numeroRetificacao            5308 non-null   int64
 33  identificadorCipi            0 non-null      float64
 34  urlCipi                      0 non-null      float64
 35  usuarioNome                  5308 non-null   object
dtypes: bool(1), float64(10), int64(4), object(21)
memory usage: 1.4+ MB

In [8]:
a2021.columns.values

array(['numeroControlePncpCompra', 'codigoPaisFornecedor',
       'dataPublicacaoPncp', 'dataAtualizacao', 'anoContrato',
       'tipoContrato', 'numeroContratoEmpenho', 'dataAssinatura',
       'dataVigenciaInicio', 'dataVigenciaFim', 'niFornecedor',
       'tipoPessoa', 'orgaoEntidade', 'categoriaProcesso',
       'sequencialContrato', 'unidadeOrgao', 'nomeRazaoSocialFornecedor',
       'niFornecedorSubContratado', 'nomeFornecedorSubContratado',
       'informacaoComplementar', 'processo', 'unidadeSubRogada',
       'orgaoSubRogado', 'numeroControlePNCP', 'receita',
       'tipoPessoaSubContratada', 'objetoContrato', 'valorInicial',
       'numeroParcelas', 'valorParcela', 'valorGlobal', 'valorAcumulado',
       'numeroRetificacao', 'identificadorCipi', 'urlCipi', 'usuarioNome'],
      dtype=object)

In [9]:
nomes_das_colunas= a2021.columns.tolist()

In [10]:
nomes_das_colunas

['numeroControlePncpCompra',
 'codigoPaisFornecedor',
 'dataPublicacaoPncp',
 'dataAtualizacao',
 'anoContrato',
 'tipoContrato',
 'numeroContratoEmpenho',
 'dataAssinatura',
 'dataVigenciaInicio',
 'dataVigenciaFim',
 'niFornecedor',
 'tipoPessoa',
 'orgaoEntidade',
 'categoriaProcesso',
 'sequencialContrato',
 'unidadeOrgao',
 'nomeRazaoSocialFornecedor',
 'niFornecedorSubContratado',
 'nomeFornecedorSubContratado',
 'informacaoComplementar',
 'processo',
 'unidadeSubRogada',
 'orgaoSubRogado',
 'numeroControlePNCP',
 'receita',
 'tipoPessoaSubContratada',
 'objetoContrato',
 'valorInicial',
 'numeroParcelas',
 'valorParcela',
 'valorGlobal',
 'valorAcumulado',
 'numeroRetificacao',
 'identificadorCipi',
 'urlCipi',
 'usuarioNome']

In [11]:
a2021['receita']

0       False
1       False
2       False
3       False
4       False
        ...
5303    False
5304    False
5305    False
5306    False
5307    False
Name: receita, Length: 5308, dtype: bool

In [12]:
a2021[a2021['receita']==True]

,numeroControlePncpCompra,codigoPaisFornecedor,dataPublicacaoPncp,dataAtualizacao,anoContrato,tipoContrato,numeroContratoEmpenho,dataAssinatura,dataVigenciaInicio,dataVigenciaFim,...,objetoContrato,valorInicial,numeroParcelas,valorParcela,valorGlobal,valorAcumulado,numeroRetificacao,identificadorCipi,urlCipi,usuarioNome
3468,01608511000153-1-000001/2021,BRA,2021-12-27T21:11:07,2021-12-27T21:13:57,2021,"{'id': 1, 'nome': 'Contrato (termo inicial)'}",161,2021-12-17,2021-12-17,2022-03-17,...,Contratação de empresa especializada para aqui...,19585.6,1,19585.6,19585.6,0.0,0,NaN,NaN,ECustomize Consultoria em Software S.A

In [13]:
(a2021[a2021['receita']==True]).columns.tolist()

['numeroControlePncpCompra',
 'codigoPaisFornecedor',
 'dataPublicacaoPncp',
 'dataAtualizacao',
 'anoContrato',
 'tipoContrato',
 'numeroContratoEmpenho',
 'dataAssinatura',
 'dataVigenciaInicio',
 'dataVigenciaFim',
 'niFornecedor',
 'tipoPessoa',
 'orgaoEntidade',
 'categoriaProcesso',
 'sequencialContrato',
 'unidadeOrgao',
 'nomeRazaoSocialFornecedor',
 'niFornecedorSubContratado',
 'nomeFornecedorSubContratado',
 'informacaoComplementar',
 'processo',
 'unidadeSubRogada',
 'orgaoSubRogado',
 'numeroControlePNCP',
 'receita',
 'tipoPessoaSubContratada',
 'objetoContrato',
 'valorInicial',
 'numeroParcelas',
 'valorParcela',
 'valorGlobal',
 'valorAcumulado',
 'numeroRetificacao',
 'identificadorCipi',
 'urlCipi',
 'usuarioNome']

In [14]:
a2021['valorGlobal']

0           868.74
1          6555.00
2           198.99
3           385.00
4          2442.00
           ...
5303       4588.00
5304       5999.85
5305       6284.21
5306      41500.00
5307    2300000.00
Name: valorGlobal, Length: 5308, dtype: float64

In [15]:
a2021['valorGlobal'].sum()

296468687.1542

In [20]:
a2021['niFornecedor'].unique()

array(['36756134000184', '36704809000141', '41640044000163', ...,
       '43365357000186', '26727779000135', '26592209000185'], dtype=object)

In [21]:
a2021['niFornecedor'].unique

<bound method Series.unique of 0       36756134000184
1       36704809000141
2       41640044000163
3       36116420000185
4       07259386000108
             ...
5303    09093813000148
5304    18628747000154
5305    26673492000170
5306    05040644000127
5307    02385669000174
Name: niFornecedor, Length: 5308, dtype: object>

In [27]:
a2021.value_counts('niFornecedor') #qtdade de vezes que aparece o cnpj
                                    ##pode ser que se repete por qtdade
                                    ##de itens e não necessariamente
                                    ##contrato, podendo ser mais de um

niFornecedor
30680100000177    74
29003455000142    48
26555322000190    42
10417279000167    41
29432207000117    34
                  ..
21352262000195     1
21340859000110     1
21333739000195     1
21308480000122     1
EXCTM0048          1
Name: count, Length: 2127, dtype: int64

In [28]:
a2021.value_counts('numeroControlePncpCompra') #qtdade de vezes que aparece o cnpj

numeroControlePncpCompra
33663683000116-1-000149/2021    40
33663683000116-1-000037/2021    37
33663683000116-1-000015/2021    30
33663683000116-1-000050/2021    28
33663683000116-1-000016/2021    25
                                ..
00394452000103-1-001730/2021     1
00394452000103-1-001726/2021     1
00394452000103-1-001724/2021     1
00394452000103-1-001723/2021     1
92969856000198-1-000008/2021     1
Name: count, Length: 2792, dtype: int64

In [40]:
a2021[['numeroControlePncpCompra', 'niFornecedor']].groupby(by= ['niFornecedor']).count().reset_index()

        niFornecedor  numeroControlePncpCompra
0     00000000000191                         5
1     00080414000178                         1
2     00090021000145                         1
3     00097489000161                         1
4     00106615000105                         1
...              ...                       ...
2122       EXCTM0015                         1
2123       EXCTM0023                         1
2124       EXCTM0029                         1
2125       EXCTM0047                         1
2126       EXCTM0048                         1

[2127 rows x 2 columns]

In [44]:
a2021[['numeroControlePncpCompra', 'niFornecedor']].groupby(by= ['niFornecedor']).count().sort_values(by= ['numeroControlePncpCompra'], ascending= False)

                numeroControlePncpCompra
niFornecedor
30680100000177                        74
29003455000142                        48
26555322000190                        42
10417279000167                        41
29432207000117                        34
...                                  ...
21352262000195                         1
21340859000110                         1
21333739000195                         1
21308480000122                         1
EXCTM0048                              1

[2127 rows x 1 columns]

In [45]:
a2021.head(1)

,numeroControlePncpCompra,codigoPaisFornecedor,dataPublicacaoPncp,dataAtualizacao,anoContrato,tipoContrato,numeroContratoEmpenho,dataAssinatura,dataVigenciaInicio,dataVigenciaFim,...,objetoContrato,valorInicial,numeroParcelas,valorParcela,valorGlobal,valorAcumulado,numeroRetificacao,identificadorCipi,urlCipi,usuarioNome
0,00394452000103-1-000010/2021,BRA,2021-09-08T11:38:58,2021-09-10T14:13:48,2021,"{'id': 7, 'nome': 'Empenho'}",2021NE000356,2021-08-17,2021-08-17,2021-12-31,...,"AQS DE TONERS P/ IMPRESSORAS DO PMED DA OM, CO...",868.74,1,868.74,868.74,868.74,1,NaN,NaN,Compras.gov.br

In [56]:
(a2021[['numeroControlePncpCompra', 'valorGlobal']].values)

TypeError: '<' not supported between instances of 'float' and 'str'

In [57]:
a2021[['numeroControlePncpCompra', 'valorGlobal']].drop_duplicates()
#com o drop.duplicates: remove as linhas duplicadas das colunas selecionadas

          numeroControlePncpCompra  valorGlobal
0     00394452000103-1-000010/2021       868.74
1     00394452000103-1-000030/2021      6555.00
2     33663683000116-1-000003/2021       198.99
3     17217985000104-1-000003/2021       385.00
4     00394452000103-1-000012/2021      2442.00
...                            ...          ...
5298  00396895000125-1-000004/2021     41200.00
5299  00394452000103-1-000518/2021     12889.93
5301  00394494000136-1-000059/2021      7547.50
5302  00402552000126-1-000082/2021     10461.50
5304  00394494000136-1-000084/2021      5999.85

[4755 rows x 2 columns]

In [59]:
a2021[['numeroControlePncpCompra', 'dataAtualizacao', 'valorGlobal']].drop_duplicates()
#o valor global aqui é do item e não do contrato

          numeroControlePncpCompra      dataAtualizacao  valorGlobal
0     00394452000103-1-000010/2021  2021-09-10T14:13:48       868.74
1     00394452000103-1-000030/2021  2021-09-10T15:23:47      6555.00
2     33663683000116-1-000003/2021  2021-09-10T14:17:32       198.99
3     17217985000104-1-000003/2021  2022-01-12T09:12:41       385.00
4     00394452000103-1-000012/2021  2021-09-10T14:21:42      2442.00
...                            ...                  ...          ...
5303  00394452000103-1-000742/2021  2023-03-28T12:21:51      4588.00
5304  00394494000136-1-000084/2021  2023-03-24T15:12:09      5999.85
5305  37115383000153-1-000014/2021  2023-07-17T14:15:59      6284.21
5306  00394460000141-1-000186/2021  2023-10-11T10:14:50     41500.00
5307  33781055000135-1-000033/2021  2023-10-19T09:11:01   2300000.00

[5011 rows x 3 columns]

In [61]:
a2021[['numeroControlePncpCompra', 'dataAtualizacao', 'valorGlobal']].drop_duplicates().sort_values(by= 'numeroControlePncpCompra')

          numeroControlePncpCompra      dataAtualizacao  valorGlobal
3973  00043711000143-1-000001/2021  2021-12-10T12:44:49      5600.00
3961  00043711000143-1-000001/2021  2021-12-10T12:44:19      5000.00
3951  00043711000143-1-000001/2021  2021-12-10T12:44:24      4000.00
4050  00043711000143-1-000001/2021  2021-12-10T12:44:46      5500.00
5282  00043711000143-1-000004/2021  2022-04-28T08:59:04     49950.00
...                            ...                  ...          ...
2754  92969856000198-1-000005/2021  2021-12-10T12:39:44     46702.04
4432  92969856000198-1-000006/2021  2021-12-21T21:57:08     49999.80
4425  92969856000198-1-000007/2021  2021-12-21T21:57:07      7200.00
4449  92969856000198-1-000007/2021  2021-12-21T21:57:14     18016.00
3371  92969856000198-1-000008/2021  2021-12-10T12:41:18     42630.00

[5011 rows x 3 columns]

In [64]:
a2021[['numeroControlePNCP', 'dataAtualizacao', 'valorGlobal']].drop_duplicates().sort_values(by= 'numeroControlePNCP')

                numeroControlePNCP      dataAtualizacao  valorGlobal
3961  00043711000143-2-000001/2021  2021-12-10T12:44:19      5000.00
3951  00043711000143-2-000002/2021  2021-12-10T12:44:24      4000.00
4050  00043711000143-2-000003/2021  2021-12-10T12:44:46      5500.00
3973  00043711000143-2-000004/2021  2021-12-10T12:44:49      5600.00
5282  00043711000143-2-000005/2021  2022-04-28T08:59:04     49950.00
...                            ...                  ...          ...
3985  92969856000198-2-000004/2021  2021-12-10T12:44:26     35493.17
4039  92969856000198-2-000005/2021  2021-12-10T12:44:44     36378.41
4425  92969856000198-2-000006/2021  2021-12-21T21:57:07      7200.00
4432  92969856000198-2-000007/2021  2021-12-21T21:57:08     49999.80
4449  92969856000198-2-000008/2021  2021-12-21T21:57:14     18016.00

[5017 rows x 3 columns]

In [66]:
#agrupado_somado = dataframe.groupby('coluna_agrupada')['coluna_para_somar'].sum()
a2021.groupby('numeroControlePncpCompra')['valorGlobal'].sum()

numeroControlePncpCompra
00043711000143-1-000001/2021    20100.000
00043711000143-1-000004/2021    49950.000
00059311000126-1-000001/2021    18900.000
00059311000126-1-000002/2021    13124.201
00059311000126-1-000004/2021    16040.350
                                  ...
92969856000198-1-000004/2021    35493.170
92969856000198-1-000005/2021    93404.080
92969856000198-1-000006/2021    49999.800
92969856000198-1-000007/2021    25216.000
92969856000198-1-000008/2021    42630.000
Name: valorGlobal, Length: 2792, dtype: float64

In [69]:
a2021[['numeroControlePNCP', 'niFornecedor']]\
    .groupby(by= ['niFornecedor'])\
    .count()\
    .sort_values(by= ['numeroControlePNCP'], ascending= False)
#aqui descobrimos que temos abaixo o número por fornecedor

                numeroControlePNCP
niFornecedor
30680100000177                  74
29003455000142                  48
26555322000190                  42
10417279000167                  41
29432207000117                  34
...                            ...
21352262000195                   1
21340859000110                   1
21333739000195                   1
21308480000122                   1
EXCTM0048                        1

[2127 rows x 1 columns]

In [98]:
    #a2021 = aqui tenho núm do contrato e do forncedor
##pode se colocar todas a colunas que quer trabalhar
    #groupby = aqui agrupou por fornecedor
    #sum = aqui faz a contagem de contratos únicos por fornecedor
    #sort_values = aqui ordena pelo núm de contrato existente
    #faz a soma pelo valor valorGlobal
    #head(10) = os 10 maiores contratos em valores
    #style.format('{:.2f}') = este comando formata o dataframe inteiro para que todos os números tenha
##no máximo 2 casas depois da vírgula (se 3f, tres casas; se 4f, casas etc.)

a2021[['numeroControlePNCP', 'niFornecedor', 'valorGlobal']]\
    .groupby(by= ['niFornecedor'])\
    .sum('valorGlobal')\
    .sort_values(by= ['valorGlobal'], ascending= False)\
    .head(10)\
    .style.format('{:.2f}')