In [1]:
import os, pandas as pd, re
from datetime import date

#### Carregamento da Matriz de Saldos Contábeis a partir da pasta do projeto

In [2]:
# Função que monta a pasta do projeto: ./data/projectBalanco
def build_path(subfolder = 'data'):
    folderpath = os.path.join(os.getcwd(), 
                              'projeto', subfolder)
    folderpath = os.path.abspath(folderpath)
    if not os.path.exists(folderpath): 
        os.makedirs(folderpath)
    return folderpath

#### Função de Carregamento Planilha PCASP - Plano de Contas aplicado ao Setor Público

In [3]:
# Função parar carregar a planilha pcasp - Plano de Contas Aplicado ao Setor Público
def get_dados_pcasp(
        filename='CPU_PCASP_2022.xlsx'):
    filepath = os.path.join(build_path(), filename)
    return pd.read_excel(filepath, sheet_name= 'Federação 2022')

#### Renomeando coluna NATUREZA DO SALDO para NATUREZA_SALDO da Planilha PCASP - Plano de Contas aplicado ao Setor Público

In [4]:
# Executa o carregamento da pcasp - Plano de contas aplicado ao setor público 
pcasp = get_dados_pcasp()

C:\Users\Mari\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Data Validation extension is not supported and will be removed
  for idx, row in parser.parse():

In [5]:
# Renomeia a coluna NATUREZA DO SALDO para NATUREZA_SALDO
#pcasp = pcasp.rename(columns={"NATUREZA DO SALDO": "NATUREZA_SALDO"})

In [6]:
pcasp

,CLASSE,GRUPO,SUBGRUPO,TÍTULO,SUBTÍTULO,ÍTEM,SUBÍTEM,CONTA,TÍTULO.1,FUNÇÃO,STATUS,NATUREZA DO SALDO,CONTROLE
0,1,0,0,0,0,0,0,100000000,ATIVO,Compreende os recursos controlados por uma ent...,Ativa,Devedora,NaN
1,1,1,0,0,0,0,0,110000000,ATIVO CIRCULANTE,Compreende os ativos que atendam a qualquer um...,Ativa,Devedora,NaN
2,1,1,1,0,0,0,0,111000000,CAIXA E EQUIVALENTES DE CAIXA,Compreende o somatório dos valores em caixa e ...,Ativa,Devedora,NaN
3,1,1,1,1,0,0,0,111100000,CAIXA E EQUIVALENTES DE CAIXA EM MOEDA NACIONAL,Compreende o somatório dos valores em caixa e ...,Ativa,Devedora,NaN
4,1,1,1,1,1,0,0,111110000,CAIXA E EQUIVALENTES DE CAIXA EM MOEDA NACIONA...,Compreende o somatório dos valores de caixa e ...,Ativa,Devedora,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2371,8,6,1,0,0,0,0,861000000,BENEFÍCIOS FISCAIS,Compreende as contas relacionadas ao controle ...,Ativa,Credora,INCLUÍDA
2372,8,6,2,0,0,0,0,862000000,CONTROLES DA PROJEÇÃO ATUARIAL,Compreende/Registra a projeção atuarial das de...,Ativa,Credora,INCLUÍDA
2373,8,6,3,0,0,0,0,863000000,CONTROLES PARA FINS DA LRF,Compreende as contas relacionadas à elaboração...,Ativa,Credora,INCLUÍDA
2374,8,8,0,0,0,0,0,880000000,APURAÇÃO DE CUSTOS,Compreende/Registra as contas que controlam a ...,Ativa,Credora,NaN
2375,8,9,0,0,0,0,0,890000000,OUTROS CONTROLES,Compreende as contas de controles da execução ...,Ativa,Credora,NaN

In [7]:
pcasp.columns

Index(['CLASSE', 'GRUPO', 'SUBGRUPO', 'TÍTULO', 'SUBTÍTULO', 'ÍTEM', 'SUBÍTEM',
       'CONTA', 'TÍTULO.1', 'FUNÇÃO', 'STATUS', 'NATUREZA DO SALDO',
       'CONTROLE'],
      dtype='object')

In [8]:
pcasp

,CLASSE,GRUPO,SUBGRUPO,TÍTULO,SUBTÍTULO,ÍTEM,SUBÍTEM,CONTA,TÍTULO.1,FUNÇÃO,STATUS,NATUREZA DO SALDO,CONTROLE
0,1,0,0,0,0,0,0,100000000,ATIVO,Compreende os recursos controlados por uma ent...,Ativa,Devedora,NaN
1,1,1,0,0,0,0,0,110000000,ATIVO CIRCULANTE,Compreende os ativos que atendam a qualquer um...,Ativa,Devedora,NaN
2,1,1,1,0,0,0,0,111000000,CAIXA E EQUIVALENTES DE CAIXA,Compreende o somatório dos valores em caixa e ...,Ativa,Devedora,NaN
3,1,1,1,1,0,0,0,111100000,CAIXA E EQUIVALENTES DE CAIXA EM MOEDA NACIONAL,Compreende o somatório dos valores em caixa e ...,Ativa,Devedora,NaN
4,1,1,1,1,1,0,0,111110000,CAIXA E EQUIVALENTES DE CAIXA EM MOEDA NACIONA...,Compreende o somatório dos valores de caixa e ...,Ativa,Devedora,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2371,8,6,1,0,0,0,0,861000000,BENEFÍCIOS FISCAIS,Compreende as contas relacionadas ao controle ...,Ativa,Credora,INCLUÍDA
2372,8,6,2,0,0,0,0,862000000,CONTROLES DA PROJEÇÃO ATUARIAL,Compreende/Registra a projeção atuarial das de...,Ativa,Credora,INCLUÍDA
2373,8,6,3,0,0,0,0,863000000,CONTROLES PARA FINS DA LRF,Compreende as contas relacionadas à elaboração...,Ativa,Credora,INCLUÍDA
2374,8,8,0,0,0,0,0,880000000,APURAÇÃO DE CUSTOS,Compreende/Registra as contas que controlam a ...,Ativa,Credora,NaN
2375,8,9,0,0,0,0,0,890000000,OUTROS CONTROLES,Compreende as contas de controles da execução ...,Ativa,Credora,NaN

In [9]:
# Remove as colunas
pcasp = pcasp.drop(columns=['FUNÇÃO','STATUS','NATUREZA DO SALDO','CONTROLE','ÍTEM','SUBÍTEM'])

In [10]:
### Criar Dataframe com todas as contas de nível 3, 2 e 1

In [11]:
# cria uma coluna com o NÍVEL 3 no pcasp
#Mantem somente classes 1 e 2
pcasp.loc[pcasp['CLASSE'].isin([1, 2])]
#pcasp

pcasp['NÍVEL3'] = pcasp['CLASSE'].astype(str) + pcasp['GRUPO'].astype(str) + pcasp['SUBGRUPO'].astype(str)
#pcasp.loc[pcasp['CLASSE'].isin([1, 2])]

# cria uma coluna com o NÍVEL 2 no pcasp
pcasp['NÍVEL2'] = pcasp['CLASSE'].astype(str) + pcasp['GRUPO'].astype(str)
#pcasp.loc[pcasp['CLASSE'].isin([1, 2])]

# cria uma coluna com o NÍVEL 1 no pcasp
pcasp['NÍVEL1'] = pcasp['CLASSE'].astype(str)

### Criar Dataframe com todas as contas de nível 3 do PCASP para criar nosso Balanço nível 3
* Criar um DataFrame com todas as contas de nível 3- contas em azul

In [12]:
# Filtrar classes ['GRUPO'] ['SUBGRUPO'] != 0 and [TÍTULO']==0
pcasp_nivel_3 = pcasp.loc[(pcasp['SUBGRUPO']!= 0) & (pcasp['TÍTULO']== 0)]
#pcasp_nivel_3

### Criar Dataframe com todas as contas de nível 2 do PCASP para criar nosso Balanço nível 2
* Criar um DataFrame com todas as contas de nível 2 - contas em verde

In [13]:
# Filtrar classes ['GRUPO'] ['SUBGRUPO'] != 0 and [TÍTULO']==0
# A segunda agregação será no nível 2 - reúne todas do nível 3 de mesma CLASSE e GRUPO
# ['SUBGRUPO'] == 0
pcasp_nivel_2 = pcasp.loc[(pcasp['GRUPO']!= 0) & (pcasp['SUBGRUPO']== 0)]

### Criar Dataframe com todas as contas de nível 1 do PCASP para criar nosso Balanço nível 1
* Criar um DataFrame com todas as contas de nível 1 - contas em vermelho

In [14]:
pcasp_nivel_1 = pcasp.loc[(pcasp['GRUPO']== 0)]

### Criar Dataframe com todas as contas de nível 1 ,2 e 3 do PCASP para criar nosso Balanço nível 3
* Criar um DataFrame com todas as contas de nível 1,2 e 3- contas em vermelho, verde e azul

In [15]:
pcasp_nivel_1_2_3 = pd.concat([pcasp_nivel_1,pcasp_nivel_2,pcasp_nivel_3],axis=0)

In [16]:
# Executa a função para montar a pasta do projeto
build_path()

'C:\\Users\\Mari\\Desktop\\projectbalanco\\projeto\\data'

In [17]:
def get_dados_instancia(filename='instancia_MSC_API.csv'):
    filepath = os.path.join(build_path(), filename)
    return pd.read_csv(filepath, sep=';')

In [18]:
# Executa o carregamento da instancia
instancia = get_dados_instancia()

In [19]:
instancia.head()

,tipo_matriz,cod_ibge,classe_conta,conta_contabil,poder_orgao,financeiro_permanente,ano_fonte_recursos,fonte_recursos,exercicio,mes_referencia,divida_consolidada,data_referencia,entrada_msc,valor,natureza_conta,tipo_valor,complemento_fonte
0,MSCE,32,1,111110100,10111,1.0,1.0,10900000.0,2019,12,NaN,2019-12-31T03:00:00Z,2,14667.39,D,ending_balance,NaN
1,MSCE,32,1,111115099,10111,1.0,1.0,10900000.0,2019,12,NaN,2019-12-31T03:00:00Z,4,500.00,D,ending_balance,NaN
2,MSCE,32,1,111110200,10111,1.0,1.0,19790000.0,2019,12,NaN,2019-12-31T03:00:00Z,6,7671.79,D,ending_balance,NaN
3,MSCE,32,1,111110200,10111,1.0,1.0,10010000.0,2019,12,NaN,2019-12-31T03:00:00Z,8,69723.95,D,ending_balance,NaN
4,MSCE,32,1,111110200,10111,1.0,1.0,12110000.0,2019,12,NaN,2019-12-31T03:00:00Z,10,2679.20,D,ending_balance,NaN

In [20]:
# Pegar o código do Estado
instancia.loc[0,'cod_ibge']

32

In [21]:
# Remove as colunas
instancia = instancia.drop(columns=['tipo_matriz','cod_ibge','poder_orgao','financeiro_permanente','ano_fonte_recursos','fonte_recursos','mes_referencia','divida_consolidada','data_referencia','entrada_msc','tipo_valor','complemento_fonte'])

In [22]:
# Renomeia as colunas da instancia
instancia = instancia.rename(columns={'classe_conta':'NÍVEL1', 'conta_contabil':'CONTA', 'exercicio': 'EXERCÍCIO', 'valor':'VALOR', 'natureza_conta':'NATUREZA_VALOR'})

In [23]:
### Modifica a coluna CONTA para string
instancia['CONTA'] = instancia['CONTA'].astype(str)

In [24]:
### Verifica se a coluna VALOR é do tipo float
instancia['VALOR'].dtype

dtype('float64')

### Remove as linhas que devem ser excluídas da consolidação### Remove as linhas que devem ser excluídas da consolidação
* O processo de consolidação do ente deverá INCLUIR as contas cujo 5º nível apresenta os dígitos 1 (Consolidação), 3, 4 e 5 (Inter OFSS), e EXCLUIR as que apresentam o dígito 2 (Intra OFSS). PG472, MCASP 9ª Edição
* O processo de consolidação do ente deverá INCLUIR as contas cujo 5º nível apresenta os dígitos 1 (Consolidação), 3, 4 e 5 (Inter OFSS), e EXCLUIR as que apresentam o dígito 2 (Intra OFSS). PG472, MCASP 9ª Edição

In [25]:
#instancia['CONTA'].str.slice(4, 5)=='2'

### Aplicando filtros para identificar as classes dos grupos 1 e 2
* Multiplica a coluna VALOR por 1 para contas de natureza Devedora (Classe 1)
* Multiplica a coluna VALOR por -1 para contas de natureza Credora (Classe 1)
* Multiplica a coluna VALOR por 1 para contas de natureza Credora (Classe 2)
* Multiplica a coluna VALOR por -1 para contas de natureza Devedora (Classe 2)
* Consequentemente, na soma, os valores de débito serão somados e os valores de crédito serão subtraídos (RETIFICADORAS)

In [26]:
#  Multiplica por 1 - Desnecessária
instancia.loc[instancia['NÍVEL1'].isin([1]) & 
              (instancia['NATUREZA_VALOR']=='D'), 'VALOR'] = instancia['VALOR']*1

#  Multiplica por -1
instancia.loc[instancia['NÍVEL1'].isin([1]) & 
              (instancia['NATUREZA_VALOR']=='C'), 'VALOR'] = instancia['VALOR']*(-1)

#  Multiplica por 1 - Desnecessária
instancia.loc[instancia['NÍVEL1'].isin([2]) & 
              (instancia['NATUREZA_VALOR']=='C'), 'VALOR'] = instancia['VALOR']*1

#  Multiplica por -1
instancia.loc[instancia['NÍVEL1'].isin([2]) & 
              (instancia['NATUREZA_VALOR']=='D'), 'VALOR'] = instancia['VALOR']*(-1)

### Identifica os três primeiros caracteres para agrupar as contas no nível 3
*cria uma coluna "NÍVEL3"

In [27]:
instancia['NÍVEL3']=instancia['CONTA'].str.slice(0, 3)
instancia['NÍVEL2'] = instancia['CONTA'].str.slice(0,2)
instancia

      NÍVEL1      CONTA  EXERCÍCIO        VALOR NATUREZA_VALOR NÍVEL3 NÍVEL2
0          1  111110100       2019     14667.39              D    111     11
1          1  111115099       2019       500.00              D    111     11
2          1  111110200       2019      7671.79              D    111     11
3          1  111110200       2019     69723.95              D    111     11
4          1  111110200       2019      2679.20              D    111     11
...      ...        ...        ...          ...            ...    ...    ...
6579       2  237130300       2022    -23251.40              D    237     23
6580       2  237130300       2022    921829.00              C    237     23
6581       2  237210100       2022   3330221.17              C    237     23
6582       2  237210200       2022  10235770.20              C    237     23
6583       2  237210300       2022    -15633.61              D    237     23

[6584 rows x 7 columns]

In [28]:
coluna = [col for col in instancia if col != 'NÍVEL1'] + ['NÍVEL1']

In [29]:
instancia=instancia[coluna]

In [30]:
instancia

          CONTA  EXERCÍCIO        VALOR NATUREZA_VALOR NÍVEL3 NÍVEL2  NÍVEL1
0     111110100       2019     14667.39              D    111     11       1
1     111115099       2019       500.00              D    111     11       1
2     111110200       2019      7671.79              D    111     11       1
3     111110200       2019     69723.95              D    111     11       1
4     111110200       2019      2679.20              D    111     11       1
...         ...        ...          ...            ...    ...    ...     ...
6579  237130300       2022    -23251.40              D    237     23       2
6580  237130300       2022    921829.00              C    237     23       2
6581  237210100       2022   3330221.17              C    237     23       2
6582  237210200       2022  10235770.20              C    237     23       2
6583  237210300       2022    -15633.61              D    237     23       2

[6584 rows x 7 columns]

### Agrupa as contas no nível 3 e soma os valores por nível, natureza e ano

In [31]:
instancia_grouped = instancia[['VALOR']].groupby([instancia['EXERCÍCIO'], instancia['NÍVEL3'], instancia['NATUREZA_VALOR']])
instancia_grouped.sum()

                                        VALOR
EXERCÍCIO NÍVEL3 NATUREZA_VALOR
2019      111    D               5.095603e+09
          112    D               2.183420e+09
          113    C              -4.912367e+04
                 D               7.535251e+08
          114    D               4.666187e+09
...                                       ...
2022      231    C               2.439059e+08
          232    C               3.089413e+05
          236    C               1.638745e+07
          237    C               2.071922e+10
                 D              -5.039776e+10

[147 rows x 1 columns]

### Totaliza os valores por nível, somando os débitos e créditos

* Soma das contas no nível 3

In [32]:
instancia_soma_nivel_3 = instancia[['VALOR']].groupby([instancia['EXERCÍCIO'], instancia['NÍVEL3']]).sum()
instancia_soma_nivel_3

                         VALOR
EXERCÍCIO NÍVEL3
2019      111     5.095603e+09
          112     2.183420e+09
          113     7.534760e+08
          114     4.666187e+09
          115     2.446169e+08
...                        ...
2022      227     6.037920e+10
          231     2.439059e+08
          232     3.089413e+05
          236     1.638745e+07
          237    -2.967855e+10

[102 rows x 1 columns]

* Soma das contas no nível 2

In [33]:
instancia_soma_nivel_2 = instancia[['VALOR']].groupby([instancia['EXERCÍCIO'], instancia['NÍVEL2']]).sum()
instancia_soma_nivel_2

                         VALOR
EXERCÍCIO NÍVEL2
2019      11      1.294735e+10
          12      1.595669e+10
          21      1.549576e+09
          22      1.073893e+10
          23      1.661553e+10
2020      11      1.313478e+10
          12      1.921561e+10
          21      1.707291e+09
          22      1.061962e+10
          23      2.002348e+10
2021      11      1.470562e+10
          12      2.239696e+10
          21      2.342234e+09
          22      1.432003e+10
          23      2.044031e+10
2022      11      1.053368e+10
          12      3.008410e+10
          21      2.549618e+09
          22      6.748610e+10
          23     -2.941794e+10

* Soma das contas no nível 1

In [34]:
instancia_soma_nivel_1 = instancia[['VALOR']].groupby([instancia['EXERCÍCIO'], instancia['NÍVEL1']]).sum()
instancia_soma_nivel_1

                         VALOR
EXERCÍCIO NÍVEL1
2019      1       2.890404e+10
          2       2.890404e+10
2020      1       3.235039e+10
          2       3.235039e+10
2021      1       3.710258e+10
          2       3.710258e+10
2022      1       4.061778e+10
          2       4.061778e+10

### Criar colunar com EXERCÍCIO e NÍVEL3 (que são índices) em instancia_soma_nivel_3, em instancia_soma_nivel_2 e em instancia_soma_nivel_1

In [35]:
instancia_soma_nivel_3=instancia_soma_nivel_3.reset_index(level=['NÍVEL3','EXERCÍCIO'])

In [36]:
instancia_soma_nivel_3

     EXERCÍCIO NÍVEL3         VALOR
0         2019    111  5.095603e+09
1         2019    112  2.183420e+09
2         2019    113  7.534760e+08
3         2019    114  4.666187e+09
4         2019    115  2.446169e+08
..         ...    ...           ...
97        2022    227  6.037920e+10
98        2022    231  2.439059e+08
99        2022    232  3.089413e+05
100       2022    236  1.638745e+07
101       2022    237 -2.967855e+10

[102 rows x 3 columns]

In [37]:
instancia_soma_nivel_2 = instancia_soma_nivel_2.reset_index(level=['NÍVEL2','EXERCÍCIO'])

In [38]:
instancia_soma_nivel_1 = instancia_soma_nivel_1.reset_index(level=['NÍVEL1','EXERCÍCIO'])

In [39]:
#instancia_soma_nivel_3.head()

In [40]:
instancia_soma_nivel_1

   EXERCÍCIO  NÍVEL1         VALOR
0       2019       1  2.890404e+10
1       2019       2  2.890404e+10
2       2020       1  3.235039e+10
3       2020       2  3.235039e+10
4       2021       1  3.710258e+10
5       2021       2  3.710258e+10
6       2022       1  4.061778e+10
7       2022       2  4.061778e+10

In [41]:
# Remove colunas para facilitar a visualização
#pcasp_nivel_3 = pcasp.drop(columns=['CLASSE','GRUPO','SUBGRUPO','TÍTULO','SUBTÍTULO'])

In [42]:
#pcasp_nivel_2 = pcasp.drop(columns=['CLASSE','GRUPO','SUBGRUPO','TÍTULO','SUBTÍTULO'])

In [43]:
#pcasp_nivel_1 = pcasp.drop(columns=['CLASSE','GRUPO','SUBGRUPO','TÍTULO','SUBTÍTULO'])

### NÍVEL 3 - O resultado das operações no nível, combinar com a coluna correspondente do PCASP de nível 3

In [44]:
balanco_nivel_3 = pd.merge(pcasp_nivel_3, instancia_soma_nivel_3, how='inner')

In [45]:
balanco_nivel_3 = balanco_nivel_3.sort_values(by=['EXERCÍCIO','CONTA'])

In [46]:
balanco_nivel_3 = balanco_nivel_3.drop(columns=['CLASSE','GRUPO','SUBGRUPO','TÍTULO','SUBTÍTULO'])

In [47]:
balanco_nivel_3

,CONTA,TÍTULO.1,NÍVEL3,NÍVEL2,NÍVEL1,EXERCÍCIO,VALOR
0,111000000,CAIXA E EQUIVALENTES DE CAIXA,111,11,1,2019,5.095603e+09
4,112000000,CRÉDITOS A CURTO PRAZO,112,11,1,2019,2.183420e+09
8,113000000,DEMAIS CRÉDITOS E VALORES A CURTO PRAZO,113,11,1,2019,7.534760e+08
12,114000000,INVESTIMENTOS E APLICAÇÕES TEMPORÁRIAS A CURTO...,114,11,1,2019,4.666187e+09
16,115000000,ESTOQUES,115,11,1,2019,2.446169e+08
...,...,...,...,...,...,...,...
85,227000000,PROVISÕES A LONGO PRAZO,227,22,2,2022,6.037920e+10
89,231000000,PATRIMÔNIO SOCIAL E CAPITAL SOCIAL,231,23,2,2022,2.439059e+08
93,232000000,ADIANTAMENTO PARA FUTURO AUMENTO DE CAPITAL,232,23,2,2022,3.089413e+05
97,236000000,DEMAIS RESERVAS,236,23,2,2022,1.638745e+07
101,237000000,RESULTADOS ACUMULADOS,237,23,2,2022,-2.967855e+10

### NÍVEL 2 - O resultado das operações no nível, combinar com a coluna correspondente do PCASP de nível 2

In [48]:
balanco_nivel_2 = pd.merge(pcasp_nivel_2, instancia_soma_nivel_2, how='inner')

In [49]:
balanco_nivel_2 = balanco_nivel_2.sort_values(by=['EXERCÍCIO','CONTA'])

In [50]:
balanco_nivel_2 = balanco_nivel_2.drop(columns=['CLASSE','GRUPO','SUBGRUPO','TÍTULO','SUBTÍTULO'])

In [51]:
balanco_nivel_2

,CONTA,TÍTULO.1,NÍVEL3,NÍVEL2,NÍVEL1,EXERCÍCIO,VALOR
0,110000000,ATIVO CIRCULANTE,110,11,1,2019,1.294735e+10
4,120000000,ATIVO NÃO CIRCULANTE,120,12,1,2019,1.595669e+10
8,210000000,PASSIVO CIRCULANTE,210,21,2,2019,1.549576e+09
12,220000000,PASSIVO NAO-CIRCULANTE,220,22,2,2019,1.073893e+10
16,230000000,PATRIMÔNIO LIQUIDO,230,23,2,2019,1.661553e+10
1,110000000,ATIVO CIRCULANTE,110,11,1,2020,1.313478e+10
5,120000000,ATIVO NÃO CIRCULANTE,120,12,1,2020,1.921561e+10
9,210000000,PASSIVO CIRCULANTE,210,21,2,2020,1.707291e+09
13,220000000,PASSIVO NAO-CIRCULANTE,220,22,2,2020,1.061962e+10
17,230000000,PATRIMÔNIO LIQUIDO,230,23,2,2020,2.002348e+10
2,110000000,ATIVO CIRCULANTE,110,11,1,2021,1.470562e+10
6,120000000,ATIVO NÃO CIRCULANTE,120,12,1,2021,2.239696e+10
10,210000000,PASSIVO CIRCULANTE,210,21,2,2021,2.342234e+09
14,220000000,PASSIVO NAO-CIRCULANTE,220,22,2,2021,1.432003e+10
18,230000000,PATRIMÔNIO LIQUIDO,230,23,2,2021,2.044031e+10
3,110000000,ATIVO CIRCULANTE,110,11,1,2022,1.053368e+10
7,120000000,ATIVO NÃO CIRCULANTE,120,12,1,2022,3.008410e+10
11,210000000,PASSIVO CIRCULANTE,210,21,2,2022,2.549618e+09
15,220000000,PASSIVO NAO-CIRCULANTE,220,22,2,2022,6.748610e+10
19,230000000,PATRIMÔNIO LIQUIDO,230,23,2,2022,-2.941794e+10

### NÍVEL 1 - O resultado das operações no nível, combinar com a coluna correspondente do PCASP de nível 1

In [57]:
# Converte coluna NÍVEL1 de inteiro para string
instancia_soma_nivel_1['NÍVEL1'] = instancia_soma_nivel_1['NÍVEL1'].astype(str)

In [58]:
instancia_soma_nivel_1['NÍVEL1'].dtype

dtype('O')

In [54]:
balanco_nivel_1 = pd.merge(pcasp_nivel_1, instancia_soma_nivel_1, how='inner')

In [59]:
balanco_nivel_1 = balanco_nivel_1.sort_values(by=['EXERCÍCIO','CONTA'])

In [61]:
balanco_nivel_1 = balanco_nivel_1.drop(columns=['CLASSE','GRUPO','SUBGRUPO','TÍTULO','SUBTÍTULO'])

In [62]:
balanco_nivel_1

,CONTA,TÍTULO.1,NÍVEL3,NÍVEL2,NÍVEL1,EXERCÍCIO,VALOR
0,100000000,ATIVO,100,10,1,2019,2.890404e+10
4,200000000,PASSIVO E PATRIMÔNIO LIQUIDO,200,20,2,2019,2.890404e+10
1,100000000,ATIVO,100,10,1,2020,3.235039e+10
5,200000000,PASSIVO E PATRIMÔNIO LIQUIDO,200,20,2,2020,3.235039e+10
2,100000000,ATIVO,100,10,1,2021,3.710258e+10
6,200000000,PASSIVO E PATRIMÔNIO LIQUIDO,200,20,2,2021,3.710258e+10
3,100000000,ATIVO,100,10,1,2022,4.061778e+10
7,200000000,PASSIVO E PATRIMÔNIO LIQUIDO,200,20,2,2022,4.061778e+10

### Unir as instancias em uma única instância

In [63]:
balanco_123 = pd.concat([balanco_nivel_1,balanco_nivel_2,balanco_nivel_3],axis=0)

In [65]:
balanco_123 = balanco_123.sort_values(by=['EXERCÍCIO','CONTA'])

In [66]:
balanco_123

,CONTA,TÍTULO.1,NÍVEL3,NÍVEL2,NÍVEL1,EXERCÍCIO,VALOR
0,100000000,ATIVO,100,10,1,2019,2.890404e+10
0,110000000,ATIVO CIRCULANTE,110,11,1,2019,1.294735e+10
0,111000000,CAIXA E EQUIVALENTES DE CAIXA,111,11,1,2019,5.095603e+09
4,112000000,CRÉDITOS A CURTO PRAZO,112,11,1,2019,2.183420e+09
8,113000000,DEMAIS CRÉDITOS E VALORES A CURTO PRAZO,113,11,1,2019,7.534760e+08
...,...,...,...,...,...,...,...
19,230000000,PATRIMÔNIO LIQUIDO,230,23,2,2022,-2.941794e+10
89,231000000,PATRIMÔNIO SOCIAL E CAPITAL SOCIAL,231,23,2,2022,2.439059e+08
93,232000000,ADIANTAMENTO PARA FUTURO AUMENTO DE CAPITAL,232,23,2,2022,3.089413e+05
97,236000000,DEMAIS RESERVAS,236,23,2,2022,1.638745e+07
101,237000000,RESULTADOS ACUMULADOS,237,23,2,2022,-2.967855e+10

In [76]:
# Lista os exercícios contidos no dataframe
lista_exercicios = list(set(balanco_123['EXERCÍCIO']))

In [75]:
lista_exercicios

[2019, 2020, 2021, 2022]

In [77]:
balanco_123['EXERCÍCIO'].dtype

dtype('int64')

In [85]:
x = balanco_123.loc[balanco_123['EXERCÍCIO'] == 2019]

In [132]:
# A lista balanco contem os dataframes de todos os anos
balanco = []
for ano in lista_exercicios:
    balanco_ano = balanco_123.loc[balanco_123['EXERCÍCIO'] == ano]
    balanco_ano = balanco_ano.rename(columns={'VALOR': f'{ano}'})
    balanco_ano = balanco_ano.drop(columns=['NÍVEL3','NÍVEL2','NÍVEL1','EXERCÍCIO'])
    balanco.append(balanco_ano)

In [127]:
balanco_final = pd.merge(balanco[0], balanco[1], how='left', on=['CONTA','TÍTULO.1'])

In [128]:
balanco_final = pd.merge(balanco_final, balanco[2], how='left', on=['CONTA','TÍTULO.1'])

In [129]:
balanco_final  = pd.merge(balanco_final, balanco[3], how='left', on=['CONTA','TÍTULO.1'])

In [130]:
pd.options.display.float_format = 'R${:,.2f}'.format

In [131]:
balanco_final

,CONTA,TÍTULO.1,2019,2020,2021,2022
0,100000000,ATIVO,"R$28,904,036,765.60","R$32,350,388,491.20","R$37,102,578,000.71","R$40,617,778,715.47"
1,110000000,ATIVO CIRCULANTE,"R$12,947,346,358.45","R$13,134,779,805.31","R$14,705,617,140.17","R$10,533,677,664.72"
2,111000000,CAIXA E EQUIVALENTES DE CAIXA,"R$5,095,603,448.40","R$6,224,178,290.82","R$7,900,865,620.76","R$9,094,630,226.48"
3,112000000,CRÉDITOS A CURTO PRAZO,"R$2,183,419,894.27","R$421,406,782.24","R$580,380,598.75","R$410,817,584.14"
4,113000000,DEMAIS CRÉDITOS E VALORES A CURTO PRAZO,"R$753,475,994.48","R$1,069,342,989.20","R$861,520,550.82","R$586,961,295.35"
5,114000000,INVESTIMENTOS E APLICAÇÕES TEMPORÁRIAS A CURTO...,"R$4,666,187,255.58","R$5,119,361,203.77","R$5,000,234,503.46","R$4,710,347.49"
6,115000000,ESTOQUES,"R$244,616,945.05","R$293,851,302.90","R$275,746,100.38","R$348,232,466.83"
7,116000000,ATIVO NÃO CIRCULANTE MANTIDO PARA VENDA,"R$2,067,406.15","R$3,137,179.23","R$83,746,135.69","R$82,889,390.77"
8,119000000,VARIAÇÕES PATRIMONIAIS DIMINUTIVAS PAGAS ANTEC...,"R$1,975,414.52","R$3,502,057.15","R$3,123,630.31","R$5,436,353.66"
9,120000000,ATIVO NÃO CIRCULANTE,"R$15,956,690,407.15","R$19,215,608,685.89","R$22,396,960,860.54","R$30,084,101,050.75"
10,121000000,ATIVO REALIZÁVEL A LONGO PRAZO,"R$1,662,395,167.38","R$3,621,397,666.10","R$4,683,848,961.43","R$4,392,599,150.42"
11,122000000,INVESTIMENTOS,"R$4,856,433,999.42","R$5,209,458,080.79","R$6,157,545,421.65","R$12,284,881,422.14"
12,123000000,IMOBILIZADO,"R$9,248,584,658.62","R$10,174,809,613.46","R$11,308,539,432.19","R$13,079,223,276.08"
13,124000000,INTANGÍVEL,"R$189,276,581.73","R$209,943,325.54","R$247,027,045.27","R$327,397,202.11"
14,200000000,PASSIVO E PATRIMÔNIO LIQUIDO,"R$28,904,036,765.60","R$32,350,388,491.20","R$37,102,578,000.71","R$40,617,778,715.47"
15,210000000,PASSIVO CIRCULANTE,"R$1,549,576,415.94","R$1,707,291,069.71","R$2,342,234,011.83","R$2,549,618,135.70"
16,211000000,"OBRIGAÇÕES TRABALHISTAS, PREVIDENCIÁRIAS E ASS...","R$281,595,274.61","R$281,487,270.42","R$188,310,427.29","R$460,887,844.47"
17,212000000,EMPRÉSTIMOS E FINANCIAMENTOS A CURTO PRAZO,"R$406,163,223.07","R$417,743,916.06","R$415,647,590.68","R$499,389,155.75"
18,213000000,FORNECEDORES E CONTAS A PAGAR A CURTO PRAZO,"R$125,623,607.61","R$126,361,097.40","R$173,910,375.56","R$333,303,436.66"
19,214000000,OBRIGAÇÕES FISCAIS A CURTO PRAZO,"R$4,454,180.01","R$22,831,591.49","R$47,549,688.61","R$40,574,674.18"
20,215000000,TRANSFERÊNCIAS FISCAIS A CURTO PRAZO,"R$3,061,895.33","R$5,396,374.37","R$337,508,202.87","R$435,299,663.21"
21,217000000,PROVISÕES A CURTO PRAZO,"R$15,487,265.54","R$25,172,240.57","R$605,396,991.51","R$120,379,499.34"
22,218000000,DEMAIS OBRIGAÇÕES A CURTO PRAZO,"R$713,190,969.77","R$828,298,579.40","R$573,910,735.31","R$659,783,862.09"
23,220000000,PASSIVO NAO-CIRCULANTE,"R$10,738,928,851.79","R$10,619,620,843.98","R$14,320,033,949.14","R$67,486,104,141.28"
24,221000000,"OBRIGAÇÕES TRABALHISTAS, PREVIDENCIÁRIAS E ASS...","R$489,246,146.77","R$447,111,158.86","R$211,925,751.35","R$328,471,767.34"
25,222000000,EMPRÉSTIMOS E FINANCIAMENTOS A LONGO PRAZO,"R$6,117,827,205.62","R$6,514,515,995.37","R$6,466,104,089.13","R$6,534,613,241.32"
26,227000000,PROVISÕES A LONGO PRAZO,"R$4,131,855,499.40","R$3,657,993,689.75","R$7,374,798,266.12","R$60,379,202,609.84"
27,230000000,PATRIMÔNIO LIQUIDO,"R$16,615,531,497.87","R$20,023,476,577.51","R$20,440,310,039.74","R$-29,417,943,561.51"
28,231000000,PATRIMÔNIO SOCIAL E CAPITAL SOCIAL,"R$248,905,910.00","R$243,905,910.00","R$243,905,910.00","R$243,905,910.00"
29,232000000,ADIANTAMENTO PARA FUTURO AUMENTO DE CAPITAL,"R$308,941.31","R$308,941.31","R$308,941.31","R$308,941.31"
30,236000000,DEMAIS RESERVAS,"R$16,534,144.84","R$16,485,247.48","R$16,436,350.12","R$16,387,452.76"
31,237000000,RESULTADOS ACUMULADOS,"R$16,349,782,501.72","R$19,762,776,478.72","R$20,179,658,838.31","R$-29,678,545,865.58"